.idea
log
__pycache__
example/millionaire0/log
example/millionaire0/__pycache__
example/millionaire1/log
example/millionaire1/__pycache__
example/millionaire2/log
example/millionaire2/__pycache__
contract/node_modules